body {
  margin: 0;
  background-color: white;

  h1 {
    margin-top: 0;
    padding-top: 1.5rem;
  }
}

.main {
  padding: 0.75rem 3rem;

  form {
    max-width: 40%;

    input[type="text"],
    textarea {
      margin-bottom: 2rem;
      resize: none;
    }

    input[type="submit"] {
      width: 100%;
    }
  }
}


.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100vh;
  padding: 1.5rem;
  gap: 8px;

  .search {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
  }

  h2 {
    margin-top: 0.5rem;
  }

  nav {
    margin-top: 1.5rem;
  }
}
